.post {
  background-color: lightblue;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.post-bad {
  background-color: lightcoral;
}

.ratings {
  display: flex;
  background-color: inherit;
  border: 2px dashed black;
  margin: 2px;
  align-items: center;
  justify-content: space-around;
}

.likes,
.dislikes {
  padding: 3px;
  background-color: rgb(238, 213, 238);
}

.post-bad .likes,
.post-bad .dislikes {
  background-color: lightcoral;
}

div.post button {
  margin: 2px;
}
