body {
  font-family: "Jersey 10", sans-serif;
  text-align: center;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#board {
  background-color: skyblue;
  background-image: url("./assets/Flappy\ Bird/background-day.png");
}

#restartBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  padding: 10px 20px;
  font-size: 30px;
  display: none;
  z-index: 10;
  background-color: coral;
  font-family: "Jersey 10", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#scoreTable {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 180px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  text-align: center;
  display: none;
}

#scoreTable ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
}

h3 {
  margin-top: 32px;
  margin-bottom: 4px;
}
